
/* Feel free to add classes, but prioritize *ID's over classes so the default classes are not mistaken for your created class. */

@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');


*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Nova Square", cursive;
}

:root {
  --hue-neutral: 300;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: hsl(var(--hue), 20%, 5%);
}
/* #hero {
width: 300px;  
height: auto;  
text-align: center;  
padding: 5px; 
} */

.discover-page{
    margin: 2%; 
    padding: 10px;
    padding-left: 45px;
    /* background-color: red; */
    justify-content: center;
    
}
.main-discover{
    border-radius: 15px 15px 15px 15px; 
    max-width: 100%;  
}

.container-box {
    width: 100%;
    max-width: 80%;
    background-color: none; 
    /* border-radius: 5px; */
    /* box-shadow: 0 0 10px 2px; */
    padding: 5px;
   justify-content: center;
   margin-left: 10%;
   margin-bottom: 10px;
  }

  .main-link, .nav-link {
    color: whitesmoke;
    
  }
  .main-link:hover, .nav-link:hover {
    color: black;
  }
  #nav-link-discover, #nav-link-browser {
    color: whitesmoke;
    
  }

   #nav-link-discover:hover, #nav-link-browser:hover {
    color:rgb(32, 32, 32);
    transition: 0.2s;
  }
  .dropdown-toggle:hover {
    box-shadow: 0 0 1.5px .5px;
     border-radius: 5px 5px;
     background-color: white;
     padding: 10px;
     display: flex;
     flex-wrap: wrap;
     margin: auto;
  }
  
/* This is the "Top Navigation Bar" ! */
/* #mag-icon {
    /* how do i put the icon within the search-bar 
} */
/* .side-panel {
    
    height: 50px;
    width: 100px;
    border-radius: 10px 10px 10px 10px;
    margin-left: 75%;
    box-shadow: 5px 1px;
    line-height: 1;
    justify-content: center;
    
} */

img {
    margin: auto;
    margin-right: 25px;
    border-radius: 10px 10px 10px 10px;
    /* border-color: red; */
    /* box-shadow: 10px 5px 10px 5px; */
    border-style:dashed;
    line-height: 1;
}
.search-con::before {
    border-radius: 25px 25px; 
}
.search-con::after {
    /* border-radius: 25px 25px; */
    border-color: white;
}
#search-bar {
    /* box-shadow: 0 0 5px 1px; */
    /* border-radius: 25px 25px;  */
    /* border-color: rgba(0, 0, 0, 0); */
    margin: 0;
    border: 0;
    padding: 12px;
    /* padding-left: 5px; */
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    background: none;
    line-height: 1.5;
    font-weight: 400;
    font-display: swap;
    position: relative;
    text-align: start;
    font-size: 13px;
    position: relative;
    color: rgb(245, 245, 245);
    background-color: rgb(32, 32, 32);
    
    /* Magnigying glass not showing up ? */
  
}
/* .search-bar2 {
    margin: 0;
    border: 0;
    padding: 5px;
    padding-left: 5px;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    background: none;
    line-height: 1.5;
    margin-right: 10px ;
    margin-bottom: 5px;
    justify-content: center;
    font-weight: 400;
    font-display: swap;
    position: relative;
    text-align: start;
    position: relative;
    color: rgb(245, 245, 245);
    background-color: rgb(32, 32, 32);
    appearance: auto; 
    outline: 0;
    outline-color: initial;
    outline-style: initial;
    outline-width: 0px;
} */
/* .src-color {
    background-color: rgb(32, 32, 32);
} */
.btn-submit-search {
    color: white;
    background-color: rgb(8, 8, 8);
    border-color: rgba(0, 0, 0, 0);
    box-shadow: 0 0 .5px .2px;
    border-radius: 5px 5px;
    font-size: .75rem;
    margin: 10px 65% 5px 5px;
    /* margin-right: 50%;
    margin-bottom: 5px;
    margin-top: 5px; */
    
    /* Magnigying glass not showing up ? */
}
.btn-submit-search:hover{
    transition: ease-in-out;
    border-color: rgb(175, 175, 175);
    box-shadow: none;
    color: white;
}

#search-bar-for-game {
    outline: 0;
    outline-color: initial;
    outline-style: initial;
    outline-width: px;
    margin: 0;
    border: 0;
    padding: 5px;
    padding-left: 10px;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    background: none;
    line-height: 2;
    font-family: Inter,sans-serif;
    font-weight: 400;
    font-display: swap;
    position: relative;
    text-align: start;
    color: rgb(245, 245, 245);
    border-radius: 10px 10px 10px 10px;
    
    /* appearance: auto; */

}


/* ===================================== */


/* Scroll Entry id keep safe */



#scroll-card {
    background-color: red;
    width: 100%;
    /* max-width: 90%; */
}
/* A class that anyone can use to make code disappear  */
.hidden {
    display: none;
}
/* ===================================== */

#aside-container{
    /* background-color: blue; */
    border-radius: 5px;
    /* box-shadow: 0 0 1.5px .5px; */
    padding: 10px;
   justify-content: center;
    margin-left: 15px;
  
   
}
.aside-box {
    /* border-radius: 5px;
    box-shadow: 0 0 10px 2px; */
    padding: 10px;
   /* justify-content: center; */
   /* margin-left: 5%; */
   /* background-color: white; */
   /* background-color: blue; */
}
.cat-box {
    /* box-shadow: 0 0 1.5px .5px; */
    border-radius: 5px 5px;
    background-color: none;
    margin-left: 5%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.checkbox-section {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
   
}


#API-response-test-section {
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.search-row{
    padding: 10px;
    border-radius: 15px 5px 15px 5px;
    margin-bottom: 10px;    
    background-color: rgb(108,117,125);   
    border-style: inset;
}

.search-row:hover{
    transition-duration: 0.4s;
    background-color: rgb(70, 70, 70);
}

.scrolling-entry-title{
    color: white;
    font-size: 1.5rem;
    margin-bottom: 0px;
}


.hidden {
    display: none;
}

.history-section {
    border: white 2px solid;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}